<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/card.css">
    <link rel="stylesheet" href="/styles/catalog.css">
    <title>Каталог</title>
</head>
<body>
    <header>
        <div class="index-container">
            <img src="/img/listik.png" alt="listik">
            <a href="">Привези</a>
            <a href="">Каталог</a>
            <button name="onasButton" onclick="window.scrollBy({top: 2800, behavior: 'smooth'});">О нас</button>
        </div>
        <div class="index-container">
            <a href="/views/profileBuyer.html">Профиль</a>
        </div>
    </header>

    <div class="catalog">
        <div class="catalog-purchase-title">
            <label for="purchase-title">Изделия</label>
        </div>
        <div class="catalog-rows">
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
        </div>
    </div>
</body>
</html>