<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль компании</title>
</head>

<body>
    <div class="profile-data">
        <span>Баба Йоба</span>
        <span>profile@mail.ru</span>
    </div>
    <div class="rows">
        <div class="buyer-card">
            <img src="/img/krujka.png" name="Picture" alt="stuff">
            <div class="buyer-card-title" name="Name">Morning Set</div>
            <div class="buyer-price">
                <div class="buyer-card-title" name="Price">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
            <div name="Size">Размер</div>
            <div name="Mass">Масса</div>
            <div name="Description">Описание</div>
        </div>
    </div>
</body>

</html>