<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/card.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/companyProfile.css">
    <link rel="stylesheet" href="/styles/profileBuyer.css">
    <title>Профиль компании</title>
</head>

<body>
    <div class="profile-data">
        <span>Баба Йоба</span>
        <span>profile@mail.ru</span>
    </div>

    <div class="flex">
        <div class="profile-nav">
            <div class="nav-select">
                <a href="/views/companyProfile.html">Профиль</a>
            </div>
            <a href="/views/createProduct.html">Изделия</a>
            <a href="/views/createStorageHouse.html">Выбрать склад или пункт выдачи</a>
            <a href="/views/createRoads.html">Маршруты</a>
            <input type="submit" name="ProfileExit" value="Выйти">
        </div>

        <div class="rows">
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
            <div class="card">
                <img src="/img/krujka.png" name="Picture" alt="stuff">
                <div class="card-title" name="Name">Morning Set</div>
                <div name="Size">Размер</div>
                <div name="Mass">Масса</div>
                <div name="Description">Описание</div>
                <div class="price">
                    <div class="card-title" name="Price">13$</div>
                    <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                </div>
            </div>
        </div>
    </div>
</body>

</html>