<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/profileBuyer.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/createProduct.css">
    <link rel="stylesheet" href="/styles/companyProfile.css">
    <title>Создать изделие</title>
</head>
<body>
    <div class="profile-data">
        <span>Баба Йоба</span>
        <span>profile@mail.ru</span>
    </div>

    <div class="flex">
        <div class="profile-nav">
            <a href="/views/companyProfile.html">Профиль</a>
            <div class="nav-select">
                <a href="/views/createProduct.html">Изделия</a>
            </div>
            <a href="/views/createStorageHouse.html">Выбрать склад или пункт выдачи</a>
            <a href="/views/createRoads.html">Маршруты</a>
            <input type="submit" name="ProfileExit" value="Выйти">
        </div>
    
        <form id="main-form-create-product" method="post" onsubmit="return checkCreateProduct(this)">
            <div>
                <label for="Name">Название изделия:</label>
                <input type="text" name="Name" placeholder="Название" id="name"><br><br>
                <label for="Price">Цена:</label>
                <input type="text" name="Price" placeholder="Цена" id="price"><br><br>
                <label for="Size">Размер:</label>
                <input type="text" name="Size" placeholder="Размер" id="size"><br><br>
                <label for="Description">Описание:</label>
                <input type="text" name="Description" placeholder="Описание" id="description"><br><br>
            </div>
            <div>
                <label for="Picture">Изображение:</label>
                <input type="file" name="Picture" placeholder="Изображение" id="picture"><br><br>
                <img src="" id="preview" style="display: none;">
                <label for="Mass">Масса:</label>
                <input type="text" name="Mass" placeholder="Масса" id="mass"><br><br>
                <div id="error" style="color: red;"></div>
            </div>
            <input type="submit" name="create-product-button" value="Создать изделие">
        </form>
    </div>
<script src="/js/createProduct.js"></script>
</body>
</html>