<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/delivery.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/profileBuyer.css">
    <link rel="stylesheet" href="/styles/createStorageHouse.css">
    <link rel="stylesheet" href="/styles/elements/scrollbar.css">
    <title>Оформление доставки</title>
</head>
<body>
    <div class="profile-data">
        <span>Баба Йоба</span>
        <span>profile@mail.ru</span>
    </div>
        <form class="main-form-create-delivery" id="main-form-create-delivery" method="post" onsubmit="return checkCreateDelivery(this)">
            <div class="otstup">
                <label for="PickupPoint">Выберите пункт выдачи</label><br>
                <select name="PickupPoint" id="pickupPoint">
                    <option data-value="1">Москва</option>
                    <option data-value="2">Тверь</option>
                    <option data-value="3">Санкт-Петербург</option>
                    <option data-value="4">Осташков</option>
                </select>
                
                <label for="DateDelivery">Дата доставки:</label><br>
                <input id="dateDelivery" type="date" name="DataDelivery">
                <label for="TypeTransport">Тип транспорта:</label>
                <select name="TypeTransport" id="typeTransport">
                    <option data-value="1">Автомобиль</option>
                    <option data-value="2">Самолет</option>
                    <option data-value="3">Корабль</option>
                </select>
            </div>
            <div class="otstup">
                <div id="delivery-select-container">
                    <label for="DeliverySelect">Выберите тип доставки:</label><br>
                    <div name="delivery-select-radio">
                        <input type="radio" onchange="" name="DeliverySelect" value="cheap">
                        <label for="cheap">Самый дешевый</label><br><br>
                    </div>
                    <div name="delivery-select-radio">
                        <input type="radio" name="DeliverySelect" value="fast">
                        <label for="cheap">Самый быстрый</label>
                    </div>
                </div>
                <label for="PriceRange">Цена доставки</label>
                <input name="PriceRange" type="range" id="price-range" min="1000" max="10000" step="1000" value="50">
                <div id="price-value"></div>
                <script>
                    const priceRange = document.getElementById('price-range');
                    const priceValue = document.getElementById('price-value');
                    priceRange.addEventListener('input', () => {
                        priceValue.textContent = priceRange.value;
                    });
                </script>

                <div id="error" style="color: red;"></div>
                <input type="submit" id="create-delivery-button" value="Подтвердить">
            </div>
        </form>

        <div id="profile-storage-info"><table>
            <thead>
                <tr>
                    <th>Пункт выдачи</th>
                    <th>Дата доставки</th>
                    <th>Стоимость</th>
                    <th>Тип транспорта</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>г.Москва, ул.Вилиса Лациса 21к1г.Москва</td>
                    <td>2024-05-12</td>
                    <td>30 000 руб</td>
                    <td>Автомобиль</td>
                    <td class="button-align"><button name="select-delivery">Выбрать</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>