<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/companyProfile.css">
    <link rel="stylesheet" href="/styles/createRoads.css">
    <link rel="stylesheet" href="/styles/profileBuyer.css">
    <link rel="stylesheet" href="/styles/delivery.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Оформление доставки</title>
</head>
<body>
    <div class="profile-data">
        <span>Баба Йоба</span>
        <span>profile@mail.ru</span>
    </div>

    

        <form class="main-form-create-delivery" id="main-form-create-delivery" method="post" onsubmit="return checkCreateDelivery(this)">
            <div>
                <label for="PickupPoint">Выберите пункт выдачи</label><br>
                <select name="PickupPoint" id="pickupPoint">
                    <option data-value="1">Москва</option>
                    <option data-value="2">Тверь</option>
                    <option data-value="3">Санкт-Петербург</option>
                    <option data-value="4">Осташков</option>
                </select>

                <label for="DeliverySelect">Выберите тип доставки:</label><br><br>
                <div name="delivery-select-radio">
                    <input type="radio" onchange="" name="DeliverySelect" value="cheap">
                    <label for="cheap">Самый дешевый</label><br><br>
                </div>
                <div name="delivery-select-radio">
                    <input type="radio" name="DeliverySelect" value="fast">
                    <label for="cheap">Самый быстрый</label>
                </div>
            </div>
            <div>
                <label for="DateDelivery">Дата доставки:</label>
                <input type="date" name="DataDelivery"><br><br>
                <label for="PriceRange">Цена доставки</label>
                <input name="PriceRange" type="range" id="price-range" min="1" max="100" value="50">
                <div id="price-value"></div>
                <script>
                    const priceRange = document.getElementById('price-range');
                    const priceValue = document.getElementById('price-value');
                    priceRange.addEventListener('input', () => {
                        priceValue.textContent = priceRange.value;
                    });
                </script>

                <label for="TypeTransport">Тип транспорта:</label>
                <select name="TypeTransport" id="typeTransport">
                    <option data-value="1">Автомобиль</option>
                    <option data-value="2">Самолет</option>
                    <option data-value="3">Корабль</option>
                </select>
                <div id="error" style="color: red;"></div>
                <input type="submit" name="create-delivery-button" value="Подтвердить">
            </div>
        </form>
    </div>
</body>
</html>