<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login</title>
</head>
<body>
    <form id="main-form" method="post" onsubmit="return loginCheckForm(this)">
        <h1>Войти в аккаунт</h1>
        <label for="name">Имя:</label>
        <input type="text" name="name" placeholder="Имя" id="name"><br><br>
        <label for="password">Пароль:</label>
        <input type="password" name="pass" placeholder="Пароль" id="pass"><br><br>
        <div id="error" style="color: red;"></div>
        <input type="submit" onclick="" name="submit" value="Войти">
    </form>
    <script src="/js/auth.js"></script>
</body>
</html>