<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/profileBuyer.css">
    <title>Профиль</title>
</head>
<body class="profile-buyer-page"> 
    <div class="profile-data">
        <span>Баба Йоба</span>
        <span>profile@mail.ru</span>
    </div>
    <div class="purchase-title">
        <label for="purchase-title">Мои покупки</label>
    </div>
    <div class="rows">
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
    </div>

    <div class="purchase-title">
        <label for="purchase-title">Доставки</label>
    </div>
    <div class="rows">
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
        <div class="buyer-card">
            <img src="/img/krujka.png" alt="stuff">    
            <div class="buyer-card-title">Morning Set</div>
            
            <div class="buyer-price">   
                <div class="buyer-card-title">13$</div>
                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
            </div>
        </div>
    </div>

</body>
</html>