<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/profileBuyer.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/elements/card.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Профиль</title>
</head>
<header>
    <div class="index-container">
        <img src="/img/listik.png" alt="listik">
        <a href="">Привези</a>
        <a href="">Каталог</a>
        <button name="onasButton" onclick="window.scrollBy({top: 2800, behavior: 'smooth'});">О нас</button>
    </div>
    <div class="index-container">
        <a href="/views/profileBuyer.html">Профиль</a>
    </div>
</header>

<body>
    <div class="profile-buyer-page">
        <div class="profile-data">
            <span>Баба Йоба</span>
            <span>profile@mail.ru</span>
        </div>
        <div class="flex">
            <div class="purchase-title">
                <label for="purchase-title">Мои покупки</label>
            </div>
            <div class="rows">
                <div class="card">
                    <img src="/img/krujka.png" name="Picture" alt="stuff">
                    <div class="card-title" name="Name">Morning Set</div>
                    <div name="Size">Размер</div>
                    <div name="Mass">Масса</div>
                    <div name="Description">Описание</div>
                    <div class="price">
                        <div class="card-title" name="Price">13$</div>
                        <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                    </div>
                </div>
                <div class="card">
                    <img src="/img/krujka.png" name="Picture" alt="stuff">
                    <div class="card-title" name="Name">Morning Set</div>
                    <div name="Size">Размер</div>
                    <div name="Mass">Масса</div>
                    <div name="Description">Описание</div>
                    <div class="price">
                        <div class="card-title" name="Price">13$</div>
                        <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                    </div>
                </div>
                <div class="card">
                    <img src="/img/krujka.png" name="Picture" alt="stuff">
                    <div class="card-title" name="Name">Morning Set</div>
                    <div name="Size">Размер</div>
                    <div name="Mass">Масса</div>
                    <div name="Description">Описание</div>
                    <div class="price">
                        <div class="card-title" name="Price">13$</div>
                        <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                    </div>
                </div>
                <div class="card">
                    <img src="/img/krujka.png" name="Picture" alt="stuff">
                    <div class="card-title" name="Name">Morning Set</div>
                    <div name="Size">Размер</div>
                    <div name="Mass">Масса</div>
                    <div name="Description">Описание</div>
                    <div class="price">
                        <div class="card-title" name="Price">13$</div>
                        <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                    </div>
                </div>
                <div class="card">
                    <img src="/img/krujka.png" name="Picture" alt="stuff">
                    <div class="card-title" name="Name">Morning Set</div>
                    <div name="Size">Размер</div>
                    <div name="Mass">Масса</div>
                    <div name="Description">Описание</div>
                    <div class="price">
                        <div class="card-title" name="Price">13$</div>
                        <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                    </div>
                </div>
                <div class="card">
                    <img src="/img/krujka.png" name="Picture" alt="stuff">
                    <div class="card-title" name="Name">Morning Set</div>
                    <div name="Size">Размер</div>
                    <div name="Mass">Масса</div>
                    <div name="Description">Описание</div>
                    <div class="price">
                        <div class="card-title" name="Price">13$</div>
                        <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                    </div>
                </div>
            </div>

            <div class="purchase-title">
                <label for="purchase-title">Доставки</label>
            </div>
            <div id="rows">
                <div id="subrows">
                    <div id="card" class="card">
                        <img src="/img/krujka.png" name="Picture" alt="stuff">
                        <div class="card-title" name="Name">Morning Set</div>
                        <div name="Size">Размер</div>
                        <div name="Mass">Масса</div>
                        <div name="Description">Описание</div>
                        <div class="price">
                            <div class="card-title" name="Price">13$</div>
                            <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                        </div>

                    </div>
                    <div id="city-names">
                        <div>
                            <span class="city-name">Москва</span>
                            <span class="city-value">true</span>
                        </div>
                        <div>
                            <span class="city-name">Санкт-Петербург</span>
                            <span class="city-value">false</span>
                        </div>
                        <div>
                            <span class="city-name">Новосибирск</span>
                            <span class="city-value">true</span>
                        </div>
                        <div>
                            <span class="city-name">Пункт выдачи</span>
                            <span class="city-value">true</span>
                        </div>
                    </div>
                </div>
                <div id="subrows">
                    <div id="card" class="card">
                        <img src="/img/krujka.png" name="Picture" alt="stuff">
                        <div class="card-title" name="Name">Morning Set</div>
                        <div name="Size">Размер</div>
                        <div name="Mass">Масса</div>
                        <div name="Description">Описание</div>
                        <div class="price">
                            <div class="card-title" name="Price">13$</div>
                            <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >">
                        </div>

                    </div>
                    <div id="city-names">
                        <div>
                            <span class="city-name">Москва</span>
                            <span class="city-value">true</span>
                        </div>
                        <div>
                            <span class="city-name">Санкт-Петербург</span>
                            <span class="city-value">false</span>
                        </div>
                        <div>
                            <span class="city-name">Новосибирск</span>
                            <span class="city-value">true</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const cityNames = document.querySelectorAll("#city-names");

        for (let i = 0; i < cityNames.length; i++) {
            const cityValues = cityNames[i].getElementsByClassName("city-value");

            for (let j = 0; j < cityValues.length; j++) {
                if (cityValues[j].innerText === "true") {
                    cityValues[j].previousElementSibling.style.color = "#90FF39";
                } else {
                    cityValues[j].previousElementSibling.style.color = "#333";
                }
            }
        }
    </script>
</body>

</html>