.flex{
    display: flex;
}

.profile-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 700px;
    border-radius: 0 15px 0 0;
    border: 2px solid #90FF39;
    border-left: none;
    padding-top: 15px;
    margin-right: 25px;
}

.profile-nav a{
    color: inherit;
    text-decoration: inherit;
    font-size: 1.3em;
    margin-bottom: 30px;
    text-align: center;
}

.nav-select{
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 0;
    text-align: center;
    background-color: #90FF39;
}

input[name="ProfileExit"]{
    color: white;
    background-color: #DB2A2A;
    position: inherit;
}

input[name="ProfileExit"]:hover{
    background-color: #C90B0B;
}

.seller-profile-rows{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.seller-card {
    width: 230px;
    box-shadow: 0px 6px 9px 3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding-bottom: 20px;
    height: 60%;
}

img[alt="stuff"]{
    width: inherit;
    height: 150px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.seller-card-title {
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px;
}

.seller-price{
    display: flex;
    align-items: center;
}

input[name="CardDetails"]{
    position: inherit;
    margin: auto;
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: 600;
}

div[name="Size"], 
div[name="Mass"],
div[name="Description"]{
    margin: 20px;
}