* {
    margin: 0;
    padding: 0;
}

#noscroll{
    overflow-x: hidden;
}

body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 65px;
    background-color: #000000DE;
    color: #FFFFFF;
    padding: 0 50px;
    font-size: 1.2em;
}

header a:hover,
button[name="onasButton"]:hover{
    border: 1px #FFFFFF solid;
    border-left: none;
    border-right: none;
    border-top: none;
}

.index-container {
    display: flex;
    align-items: center;
}

.index-container a,
button {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: inherit;
    margin-right: 105px;
}

#reg {
    margin-left: 350px;
    margin-right: 0;
}

.log-bord {
    margin-left: 70px;
    border: 1px solid;
    border-radius: 25px;
    width: 40px;
    padding: 3px 13px;
    border-color: #FFFFFF;
}

.main-preview {
    width: auto;
    height: 705px;
    background-image: url(/img/sklad.png);
    background-repeat: no-repeat;
    padding: 160px 110px 40px;
}

.main-title {
    font-size: 7em;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.main-subtitle {
    font-size: 3em;
    color: #FFFFFF;
}

.button-to-reg {
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-size: 1.2em;
    cursor: pointer;
    color: #333;
    margin-right: 105px;
}

.button-to-reg div {
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background-color: #90FF39;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.button-to-reg div:hover{
    background-color: #62b126;
    
}

.kruzjok-container {
    margin-top: 110px;
    margin: 110px 44px 0 44px;
    font-size: 1.7em;
    border: solid;
    border-radius: 0 50px 0 50px;
    border-color: #90FF39;
    overflow: hidden;
    height: 1000px;
}

.kruzjok-container label {
    font-size: 1.8em;
}

.krug1 {
    background-color: #90FF39;
    border-radius: 250px;
    width: 438px;
    height: 438px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 23px;
    left: 471px;
    animation: move-circle 20s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.krug1 div {
    position: relative;
    right: 60px;
}

.krug2 {
    background-color: #90FF39;
    border-radius: 250px;
    width: 318px;
    height: 318px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 250px;
    left: 87px;
    animation: move-circle-inv 15s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.krug3 {
    background-color: #90FF39;
    border-radius: 250px;
    width: 353px;
    height: 353px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 450px;
    left: 800px;
    animation: move-circle 20s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.krug4 {
    background-color: #90FF39;
    border-radius: 250px;
    width: 504px;
    height: 504px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 700px;
    left: 250px;
    animation: move-circle-inv 15s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.move4 {
    bottom: 800px;
    left: 900px;
    animation: move-circle 20s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.krug5 {
    background-color: #90FF39;
    border-radius: 250px;
    width: 85px;
    height: 85px;
    position: relative;
    bottom: 1450px;
    left: 70px;
    animation: move-circle-inv 15s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.move5-2 {
    bottom: 2190px;
    left: 1000px;
    animation: move-circle 20s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.move5-3 {
    bottom: 2050px;
    left: 1200px;
    animation: move-circle-inv 15s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.krug6 {
    background-color: #90FF39;
    border-radius: 250px;
    width: 112px;
    height: 112px;
    position: relative;
    bottom: 2300px;
    left: 850px;
    animation: move-circle 20s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.move6-2 {
    bottom: 1900px;
    left: 800px;
    animation: move-circle-inv 15s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.krug7 {
    background-color: #90FF39;
    border-radius: 250px;
    width: 140px;
    height: 140px;
    position: relative;
    bottom: 2650px;
    right: 50px;
    animation: move-circle 20s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.move7-2 {
    bottom: 2600px;
    left: 30px;
    animation: move-circle-inv 15s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.krug8 {
    background-color: #90FF39;
    border-radius: 250px;
    width: 148px;
    height: 148px;
    position: relative;
    bottom: 2100px;
    left: 730px;
    animation: move-circle-inv 20s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

.move8-2 {
    left: 50px;
    animation: move-circle 15s ease-in-out infinite;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
}

@keyframes move-circle {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, 30px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes move-circle-inv {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-30px, -30px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.main-description {
    margin-top: 50px;
    padding: 80px 50px;
    background-image: url(/img/blur1.png);
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    font-size: 1.5em;
}

.main-description-one {
    display: flex;
}

.our-team {
    font-size: 1.3em;
    margin-top: 80px;
    text-align: center;
}

.authors {
    display: flex;
    margin-top: 130px;
    justify-content: center;
}

.authors-one {
    text-align: end;
    margin-right: 50px;
}

.authors-two {
    margin-left: 50px;
}

.authors label {
    font-weight: 600;
    font-size: 1.3em;
}

div[name="descrip-one"] {
    width: 700px;
    margin-right: 30px;
}

div[name="descrip-two"] {
    width: 700px;
}

footer {
    background-color: #90FF394D;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

footer img {
    margin-left: 10px;
}