body {
    font-size: 12px;
}

.profile-buyer-page {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0 90px;
    color: #333;
}

.profile-data {
    font-size: 1.3em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 30px 294px 30px 294px;
}

.profile-data span {
    margin: 0 85px;
}

.purchase-title {
    width: 100%;
    height: 55px;
    border-radius: 15px;
    background-color: #90FF39;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.purchase-title label {
    padding: 18px;
}